title: プログラミング
tag: おすすめ参考書 3行紹介
---

<h1>プログラミング 参考書</h1>
<p>読んで良かった参考書を、3行で紹介しています。</p>

<h2>C#</h2>
<div style="display:flex; flex-wrap:nowrap; margin:10px 0;">
  <a href="//af.moshimo.com/af/c/click?a_id=2991341&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=https%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4822286533" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">
    <img src="https://images-fe.ssl-images-amazon.com/images/I/51KYAasOh6L._SL160_.jpg" alt="" style="border: none;" />
  </a>
  <img src="//i.moshimo.com/af/i/impression?a_id=2991341&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062" alt="" width="1" height="1" style="border: 0px;" />
  <div class="comment_books">
    説明が丁寧 / カバー範囲が広い（WPFも入っている）<br>
    読んだ後も辞書的に使える<br>
    後半は初心者には少し難しいかも
  </div>
</div>
<h2>組み込みソフト</h2>
<div style="display:flex; flex-wrap:nowrap; margin:10px 0;">
  <a href="//af.moshimo.com/af/c/click?a_id=2991341&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=https%3A%2F%2Fwww.amazon.co.jp%2Fdp%2FB093Q13V96" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">
    <img src="https://images-fe.ssl-images-amazon.com/images/I/41TNqyMXGCL._SL160_.jpg" alt="" style="border: none;" />
  </a>
  <img src="//i.moshimo.com/af/i/impression?a_id=2991341&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062" alt="" width="1" height="1" style="border: 0px;" />
  <div class="comment_books">
    設計フェーズごとに考慮すべきテスト手法が書かれている<br>
    具体例があり、実務に適用するのに役立つ<br>
    テストドキュメントの書き方にも言及あり
  </div>
</div>
<br>
<hr>

<div style="display:flex; flex-wrap:nowrap; margin:10px 0;">
  <a href="//af.moshimo.com/af/c/click?a_id=2991341&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=https%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4798110477" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">
    <img src="https://images-fe.ssl-images-amazon.com/images/I/51YCKF8AGNL._SL160_.jpg" alt="" style="border: none;" />
  </a>
  <img src="//i.moshimo.com/af/i/impression?a_id=2991341&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062" alt="" width="1" height="1" style="border: 0px;" />
  <div class="comment_books">
    組み込みソフトの設計手法が学べる数少ない参考書<br>
    湯沸かしポッドの設計を例に様々な設計手法の解説あり<br>
    特に曖昧な要求を可視化する要求/分析モデルの箇所がお勧め
  </div>
</div>
<br>
<hr>

<div style="display:flex; flex-wrap:nowrap; margin:10px 0;">
  <a href="//af.moshimo.com/af/c/click?a_id=2991341&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=https%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4798030147" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">
    <img src="https://images-fe.ssl-images-amazon.com/images/I/41NXXKmUQSL._SL160_.jpg" alt="" style="border: none;" />
  </a>
  <img src="//i.moshimo.com/af/i/impression?a_id=2991341&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062" alt="" width="1" height="1" style="border: 0px;" />
  <div class="comment_books">
    説明が丁寧でかつ詳しく書いてありわかりやすい<br>
    初心者が躓くポインタの箇所も、PCの動きから解説しており◎<br>
    コンパイラ付きで書いたプログラムの動作確認ができる
  </div>
</div>
<br>
<hr>


<br>
<br>

<!--
<a href="//af.moshimo.com/af/c/click?a_id=2991341&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=https%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4873115655" 
   rel="nofollow" referrerpolicy="no-referrer-when-downgrade">
  <div style="display:flex; flex-wrap:nowrap; margin:10px 0;">
    <img src="https://images-fe.ssl-images-amazon.com/images/I/51MgH8Jmr3L._SL160_.jpg" 
         alt="" style="border: none;" />
    <br>
    <div style="margin-left:15px; display:flex; align-items:center;">
      aaaaa
    </div>
  </div>
</a>
<img src="//i.moshimo.com/af/i/impression?a_id=2991341&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062" 
     alt="" width="1" height="1" style="border: 0px;" />

<hr>
-->

