<h3>コメント<span style="font-size:20px;">（githubのアカウントが必要です）</span></h3>

<script src="https://utteranc.es/client.js"
        repo="yamaccu/yamaccu.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
