ArchiveSources: 
- tech/*
- tils/*
- minecraft/*
- app/*
- vscode/*
- selfdriving/*
ArchiveKey: Date
ArchiveOrder: => GetDateTime("Date")
ArchiveOrderDescending: true
ShouldOutput: false
IncludeInSitemap: false
---

@if (Document.ContainsKey(Keys.GroupKey))
{
  <div>
 </div>
}
else
{
  <div>
  </div>
}