ArchiveSources: posts/*
ArchiveKey: tag
layout: _posts_layout.cshtml
ShouldOutput: false
IncludeInSitemap: false
---

@if (Document.ContainsKey(Keys.GroupKey))
{
  <div>
 </div>
}
else
{
  <div>
  </div>
}